# Python

**pycache**/
*.py[cod]
*.pyo

# Virtual Environment

.venv/
venv/
env/

# Environment Variables

.env
.env.*

# macOS

.DS_Store

# VS Code

.vscode/

# Python Tooling

.pytest_cache/
.mypy_cache/
.ruff_cache/

# Coverage

.coverage
htmlcov/

# Logs

*.log
